{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/create.css">
  <title>Cadastro Professores - Private School</title>
{% endblock head %}

{% block content %}

  <form class="card" action="/teachers" method="post">
  
    <section class="image"></section>

    <section class="details">
      <h3>Novo professor</h3>

      {% include 'teachers/fields.njk' %}

      <button type="submit">Salvar</button>

    </section>
  
  </form>

{% endblock content %}
