{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/create.css">
  <title>Editar Professores - Private School</title>
{% endblock head %}

{% block content %}

  <form class="card" action="/teachers" method="post">
  
    <section class="image" style="background-image: url({{ teacher.url_avatar }}); background-position: center; background-repeat: no-repeat; background-size: cover; max-width: 750px; max-height: 750px;"></section>

    <section class="details">
      <h3>Editar Professor</h3>

      {% include 'teachers/fields.njk' %}

      <button type="submit">Salvar</button>

    </section>
  
  </form>

{% endblock content %}
