<div class="item">
  <h3>Avatar</h3>
  <div>
    <input type="url" name="url_avatar" placeholder="http://..." value="{{ teacher.url_avatar }}">
  </div>
</div>

<div class="item">
  <h3>Instrutor(a)</h3>
  <div>
    <input type="text" name="name" placeholder="Nome completo" value="{{ teacher.name }}">
  </div>
</div>

<div class="item">
  <h3>Idade</h3>
  <div>
    <input type="date" name="birth" value="{{ teacher.birth }}">
  </div>
</div>

<div class="item">
  <h3>Sexo</h3>
  <div>
    <span><input 
      type="radio" 
      name="genre" 
      value="M" 
      {% if teacher.genre == "M" %}
      checked
      {% endif %}
    >Masculino</span>

    <span><input 
      type="radio" 
      name="genre" 
      value="F"
      {% if teacher.genre == "F" %}
      checked
      {% endif %}
    >Feminino</span>
  </div>
</div>

<div class="item">

  <h3>Escolaridade</h3>
  <select name="schooling">
    <option value="EM">Ensino Médio Completo</option>
    <option value="ES">Ensino Superior Completo</option>
    <option value="M">Mestrado</option>      
    <option value="D">Doutorado</option>
  </select>

</div>

<div class="item">
  <h3>Tipo de aula</h3>
  <div>
    <span><input 
      type="radio" 
      name="typeClass" 
      value="P" 
      {% if teacher.typeClass == "P" %}
      checked
      {% endif %}
    >Presencial</span>

    <span><input 
      type="radio" 
      name="typeClass" 
      value="D"
      {% if teacher.typeClass == "D" %}
      checked
      {% endif %}
    >Á distancia</span>
  </div>
</div>


<div class="item">
  <h3>Acompanhamento(s)</h3>
  <div>
    <input type="text" name="subjectTeachs" placeholder="Separe os serviçoes prestados por vírgula" value="{{ teacher.subjectTeachs' }}">
  </div>
</div>