{% extends 'layout.njk' %}

{% block content %}

  <div class="card">
    <section class="image">
    
    </section>

    <section class="details">
    
    </section> 
  </div>



{% endblock content %}