{% extends 'layout.njk' %}

{% block content %}

  <div class="card">
    <section class="image"></section>

    <section class="details">
      
      <h3>Detalhes</h3>

      <div class="item">
        <h3>Nome Completo</h3>
        <h2>Arlan Biati</h2>
      </div>


      <div class="item">
        <h3>Idade</h3>
        <h2>25</h2>
      </div>


      <div class="item">
        <h3>Grau de escolaridade</h3>
        <h2>Mestrado em Engenharia de Software</h2>
      </div>


      <div class="item">
        <h3>Tipo de aula</h3>
        <div>
          <span>Presencial</span>
          <span>À distancia</span>
        </div>
      </div>

      <div class="item">
        <h3>Acompanhamento</h3>
        <div>
          <span>Mobile com React Native</span>
          <span>Front-end ReactJS</span>
        </div>
      </div>


      <div class="item">
        <h3>Desde</h3>
        <h2>25 / Fev / 2020</h2>
      </div>



    </section> 
  </div>



{% endblock content %}