@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #7159c1;
  --secundary-color: #f7df1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.links a:hover::after{
  content: "";
  width: 100%;
  transition: width 500ms ease-in-out;
}


/* =========== card ============= */

.card {
  background-color: white;

  width: 60%;
  min-height: 400px;
  margin: 50px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

  animation: up 200ms ease-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

/* ============ DETAILS =========== */

.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: normal;
  color: #777;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.details .item span {
  padding: 8px 16px;
  background-color: var(--secundary-color);
  border-radius: 16px;
  color: #777777;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* ============ FORM =============== */

form input {
  width: 100%;
  outline: none;
  border: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

form input[type="radio"] {
  width: initial;
  margin-right: 10px;
  
}

form input[type="date"],
form input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"],
a.button {
  padding: 8px 32px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-top: 32px;
  width: 100%;
}

a.button {
  text-decoration: none;
  display: block;
  text-align: center;
}