{% extends "layout.njk" %}

{%  block head %}
  <title>Sobre - Rocketseat</title>
{% endblock %}

{% block about %}
  <main class="inf-company">
    <div class="wraper">
      <img src="{{ about.logo_url }}" alt="Rocket Seat">
      <h1>{{ about.name }}</h1>
      <p>{{ about.description }}</p>
      <ul>
        <li>Javascript</li>
        <li>ReactJS</li>
        <li>React Native</li>
        <li>Node.js</li>
      </ul>
    </div>
  </main>

{% endblock %}