{% extends "layout.njk" %}

{%  block head %}
  <title>{{ course.title }}</title>
{% endblock %}

{% block about %}

  <section class="page">
    <iframe src="https://www.rocketseat.com.br/{{ course.id }}" frameborder="0"></iframe>
  </section>

{% endblock %}
