{% extends "layout.njk" %}

{%  block head %}
  <title>Cursos - Rocketseat</title>
{% endblock %}

{% block about %}
  

  <main>
    <div class="wraper">
      <h1>Cursos</h1>
    </div>
  </main>


  <section class="cards">

  {% for course in courses %}

    <div class="card" id="{{ course.id }}">
      <div class="card-content">
        <p class="{{ course.id }}">{{ course.description }}</p>
      </div>

      <div class="cards-image-container">
        <img src="{{ course.url_img }}" alt="starter">
      </div>

      <div class="card-info">
        <p class="{{ course.id }}">{{ course.module }}</p>
        <p class="card-price-{{ course.id }}">{{ course.price }}</p>
      </div>
    </div>

  {% endfor %}

  </section>

  <section>

    <div class="modal-overlay">
      <div class="modal">

        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>

        <a class="maximize-modal">
          <i class="material-icons">maximize</i>
        </a>

        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        
      </div>
    </div>

  </section>

  <script src="script.js"></script>

{% endblock %}
