<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/img/icon.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
</head>

{%  block head %}
  
{% endblock %}

  <header>
    <div class="links">
      <a href="/about">Sobre</a>
      <a href="/">Cursos</a>
      <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br" target="_blanck">Email</a>
      <a href="tel:+5547992078767" target="_blanck">Telefone</a>
    </div>
  </header>

{% block about %}

{% endblock %}

{% block courses %}

{% endblock %}

  <footer>
    <div class="links">
      <a href="http://www.github.com/Rocketseat" target="_blanck">GitHub</a>
      <a href="http://instagram.com/rocketseat_oficial" target="_blanck">Instagram</a>
      <a href="http://fb.com/rocketseat" target="_blanck">Facebook</a>
      <a href="https://www.linkedin.com/in/arlan-biati-2b3512115/" target="_blanck">LinkedIn</a>
    </div>
  </footer>