<h1>Erro 404: o que é?</h1>
<p>O código 404 indica “página não existente”, 
isto é, a URL (endereço do site) levou você a lugar nenhum.<br>
Seria como procurar uma casa no endereço incorreto.<br>
Você chega à rua, mas a casa não está lá. Na web, 
você digita um endereço ou clica num link, mas página não existe.<br> 
Esse é o erro 404 not found.</p>


<h2>O que causa o erro 404?</h2>
<p>Conheça as causas mais comuns que levam ao incômodo erro 404:
<ul>
  <li>Endereço <strong>digitado incorretamente.</li>
  <li></strong><strong>
Página tirada do ar</strong>, ou seja, o endereço existia antes, 
mas agora sumiu.</li>
  <li>Página cuja <strong>URL foi alterada</strong> por algum motivo.</p></li>
</ul>

