@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #0000009f;
}

/* ================== GLOBAL =================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

/* ================== HEADER =================== */

header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 32px;
  text-align: center;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgba(119, 119, 119, 0.637);
  position: relative;
}

.links a + a {
  margin-left: 40px;
}

.links .active {
  color: var(--primary-color);
}

.links .active:hover {
  color: var(--primary-color);
}

/* ====== HEADER BAR ANIMATION ===== */

.links a::after {
  content: "";
  width: 0;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
}

.links a:hover::after {
  content: "";
  width: 100%;
  transition: width 500ms ease-in-out;
}

/* ================= SECTION CARD ================= */

.card {
  background-color: white;

  width: 70%;
  height: 700px;
  margin: 50px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 5px 25px -5px rgba(119, 119, 119, 0.637);

  animation: up 700ms ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

/* ====== SECTION CARD IMAGE ===== */

.card section.image {
  background-image: url(https://source.unsplash.com/collection/991516/500x500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ====== SECTION CARD DETAILS ===== */

