{% extends 'layout.njk' %}


{% block head %}
  <link rel="stylesheet" href="/css/home.css">
  <title>Foodfy</title>
{% endblock head %}


{% block section %}

  <section class="container recipe">

    <div class="description-recipe">
      <h1>As melhores receitas</h1>
      <p>
        Aprenda a construir os melhores pratos com receitas 
        criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <img src="/img/chef.png" alt="chef">
  </section>

  <section class="container most-accessed">

    <h1>Mais acessadas</h1>

    <div class="img">

    {% for recipe in recipes %}

        <div class="most-accessed-img">
          <img src="{{recipe.image}}" alt="image about recipe">
          <h1>{{recipe.description}}</h1>
          <p>{{recipe.athor}}</p>
        </div>
      

    {% endfor %}

    </div>

  </section>

{% endblock section %}