<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">

  {% block head %}
  
  {% endblock head %}
  
</head>
<body>


  <header class="container">
    <nav class="menu">

      <a href="/">
        <img src="/img/logo.png" alt="logo">
      </a>

      <div class="nav-inf">
        <a class="about" href="about">Sobre</a>
        <a class="recipes-nav" href="recipes">Receitas</a>
      </div>

    </nav>
  </header>


  {% block section %}

  {% endblock section %}
  

  <footer>
    <h1>Todos os direitos reservados, receitas Foodfy.</h1>
  </footer>

</body>
</html>