{% extends 'layout.njk' %}

  {% block head %}
    <link rel="stylesheet" href="/css/recipe.css">
    <title>Receita - Foodfy</title>
  {% endblock head %}

  
  {% block section %}

    <section class="container recipe">
      <img src="{{ recipe.image }}" alt="image recipe">
      <h1>{{ recipe.title }}</h1>
      <p>por {{ recipe.author }}</p>
    </section>

    <section id='list' class="container information-recipe">

      <div class="ingredients-description" >
        <div class="ingredients">
          <h1>Ingredientes</h1>
          <p id='list1' onClick='showHide(".ingredients-list", this)' >ESCONDER</p>
        </div>
        
        <ul class="ingredients-list">

        {% for ingredient in recipe.ingredients %}
          <li class='ingredient-list'>{{ ingredient }}</li>
        {% endfor %}

        </ul>
      </div>

      <div class="preparation-description" >
        <div class="preparation">
          <h1>Modo de preparo</h1>
          <p id='list2' onClick='showHide(".preparations-list", this)'>ESCONDER</p>
        </div>

        <ul class="preparations-list">

        {% for preparation in recipe.preparations %}
          <li class='preparation-list'>{{ preparation }}</li>
        {% endfor %}
          
        </ul>
      </div>

      <div class="information-description" >
        <div class="information">
          <h1>Informações adicionais</h1>
          <p onClick='showHide(".information-p", this)'>ESCONDER</p>
        </div>

        <p class="information-p">{{ recipe.information }}</p>
        
      </div>

    </section>

  

  {% endblock section %}
  
