{% extends 'layout.njk' %}

  {% block head %}
    <link rel="stylesheet" href="/css/recipes.css">
    <title>Receita - Foodfy</title>
  {% endblock head %}

  
  {% block section %}

    <section class='container'>
      <img src="{{ recipe.image }}" alt="image recipe">
      <h1>{{ recipe.title }}</h1>
      <p>{{ recipe.author }}</p>
    </section>

    <section class='container'>

      <div class='ingredients' >
        <div>
          <h1>Ingredientes</h1>
          <p>ESCONDER</p>
        </div>
        
        <ul>
          <li>{{ recipe.ingredientes }}</li>
        </ul>
      </div>

      <div class='preparation' >
        <div>
          <h1>Modo de preparo</h1>
          <p>MOSTRAR</p>
        </div>

        <p></p>
      </div>

      <div class='information' >
        <div>
          <h1>Informações adicionais</h1>
          <p>ESCONDER</p>
        </div>

        <p>{{ recipe.information }}</p>
        
      </div>

    </section>

  

  {% endblock section %}
  
