/* =========== GLOBAL ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============= HEADER ============= */


nav {
  display: grid;
  grid-template-columns: 91px 2fr;
  gap: 120px;
  align-items: center;
  margin: 31px 0 50px;
}

.menu a img {
  width: 90.6px;
  height: 26.9px;
}

.menu .nav-inf a {
  margin-left: 2.1%;
  font-size: 16px;
  text-decoration: none;
  color: #111111;
  font-weight: normal;
}

/* ================ SECTION - RECIPE ===================== */

.recipe {
  background-color: #FBDFDB;
  width: 960px;
  height: 366px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.recipe .description-recipe {
  text-align: justify;
  margin-left: 60px;
  max-width: 320px;
}

.recipe .description-recipe h1 { 
  font-size: 32px;
  font-weight: bold;
}

.recipe .description-recipe p {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  opacity: 0.7;
  color: #000000;
  margin-top: 48px;
}

.recipe img {
  width: 216px;
  height: 300px;
  align-self: flex-end;
}

/* ==================== MOST ACCESSED ================= */

.most-accessed {
  margin-top: 50px;
}

.most-accessed .img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}

.most-accessed-img img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  cursor: pointer;  
}

.most-accessed-img h1 {
  margin-top: 20px;
  font-size: 18px;
  color: #111111;
  font-weight: normal;
}

.most-accessed-img p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #777777;
}

/* ============== FOOTER ================== */

footer {
  background-color: #EEEEEE;
  height: 70px;
  margin-top: 40px;
}

footer h1 {
  font-size: 14px;
  color: #999999;
  text-align: center;
  font-weight: normal;
  padding-top: 28px;
}

