/* =========== GLOBAL ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============= HEADER ============= */


nav {
  display: grid;
  grid-template-columns: 91px 2fr;
  gap: 120px;
  align-items: center;
  margin: 31px 0 50px;
}

.menu a img {
  width: 90.6px;
  height: 26.9px;
}

.menu .nav-inf a {
  margin-left: 30px;
  font-size: 16px;
  text-decoration: none;
  color: #111111;
  font-weight: normal;
}

.menu .nav-inf .recipes-nav {
  font-weight: bold;
}

/* ================= SECTION RECIPES ========== */

.recipe {
  text-align: center;
  margin-bottom: 50px;
}

.recipe img {
  width: 100%;
  height: 350px;
  border-radius: 15px;

}

.recipe h1 {
  margin-top: 50px;
  font-size: 36px;
  color: #111111;
  font-weight: normal;
}

.recipe p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: normal;
  color: #777777;
}

/* =============== INFORMATIONS RECIPE ================= */

.information-recipe{
  min-height: 30vh;
}

.ingredients {
  display: grid;
  grid-template-columns: 15% 8%;
  align-items: baseline;
}

.preparation {
  display: grid;
  grid-template-columns: 20% 8%;
  align-items: baseline;
}

.information {
  display: grid;
  grid-template-columns: 27% 8%;
  align-items: baseline;
}

.ingredients h1,
.preparation h1,
.information h1 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
}

.ingredients p,
.preparation p,
.information p {
  font-size: 12px;
  font-weight: bold;
  color: #777777;
  cursor: pointer;
}

.ingredients-list,
.preparations-list {
  text-align: justify;
  font-size: 18px;
  color: #444444;
  margin-top: 20px;
  margin-bottom: 39px;
  line-height: 28px;
  font-weight: 400; 
}

.ingredient-list,
.preparation-list {
  margin-top: 5px; 
}

.information-p {
  font-size: 18px;
  color: #444444;
  margin-top: 20px;
  margin-bottom: 39px;
  line-height: 28px;
  font-weight: 400;
  text-align: justify;
}

/* ============== FOOTER ================== */

footer {
  background-color: #EEEEEE;
  height: 70px;
  margin-top: 50px;
}

footer h1 {
  font-size: 14px;
  color: #999999;
  text-align: center;
  font-weight: normal;
  padding-top: 28px;
}
