:root {
  --color--green: #50fa7b;
  --color--rocket: #7159c1
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  background-color: #282a36;
  color: white;
}

header {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: var(--color--green) 1px solid;
}

.links {
  text-align: center;
}

.links a {
  margin: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: white;
}

.links a:hover{
  color: var(--color--green);
  transition: color 300ms;
}

.wraper {
  text-align: center;
  padding: 35px;
}

.wraper img {
  border-radius: 100%;
  border: var(--color--green) 5px solid;
  width: 20%;
  height: 20%;
  margin-bottom: 35px;
}

.wraper h1 {
  color: var(--color--green);
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

.wraper h3 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 8px;
  opacity: 0.8;
  font-weight: normal;
}

.wraper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

.wraper ul {
  list-style: none;
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

footer {
  margin-top: 30px;
}

footer .links {
  padding: 30px;
  border-top: 1px solid var(--color--green);
}

.links a {
  text-decoration: none;
}

/* ============= CARDS =============== */

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--color--rocket);
  cursor: pointer;
}

.card img {
  width: 100%;
  max-width: 800px;
}

.card-content, .card-info {
  padding: 24px;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-price {
  background-color: var(--color--rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
}

/* ======================= MODAL ========================*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal, .modal .maximize-modal {
  color: rgb(255, 0, 0);
  position: absolute;
  right: 0;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

.maximize-modal {
  right: 60px !important;
  top: 13px !important; 
}

/* ============ MODAL ACTIVE / MODAL MAXIMIZE =========== */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.active {
  width: 100%;
  height: 100%;
  margin: auto;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ========== FEATURED ========== */

.featured-wraper.card-image-container {
  position: relative;
}

.featured {
  position: absolute;
  background-color: var(--color--green);
  color: black;
  top: -10px;
  right: 5px;
  padding: 5px 8px;
  border-radius: 10px;
}

/* ======= VIDEO ======= */

.video {
  max-width: 800px;
  margin: 0 auto;
}

.card-video-container {
  position: relative;
  padding-top: 65%;
}

.card-video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}