{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Arlan Biati</title>
{% endblock %}

{% block content %}

  <main class="inf-company">
    <div class="wraper">
      <img src="{{ about.avatar_url }}" alt="Arlan Biati">
      <h1>{{ about.namel }}</h1>
      <h3>{{ about.role }}</h3>
      <p>{{ about.description }}</p>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Git</li>
        <li>Javascript</li>
        <li>Node.js</li>
      </ul>
    </div>
  </main>

  <footer>
    <div class="links">

      {% for link in about.links %}

      <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
      
      {% endfor %}
      
    </div>
  </footer>

{% endblock %}