<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1383/1383403.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">

    {% block head %}
      <title>Arlan Biati</title>
    {% endblock %}

  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Aulas</a>
      </div>
    </header>

    {% block content %}

    {% endblock %}

  </body>
</html>