{% extends "layout.html" %}

{% block head %}
  <title>Portifólio - Arlan Biati</title>
{% endblock %}

{% block content %}

  <main>
    <div class="wraper">
      <h1>Aulas</h1>
    </div>
  </main>

  <section class="cards">

    <div class="card">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/IPLTUlRFxgo/maxresdefault.jpg" alt="rocketseat">
      </div>

      <div class="card-content">
        <p>Nenhuma PR passará sem padrões</p>
      </div>

      <div class="card-info">
        <p>57min</p>
        <p class="card-price">Free</p>
      </div>
    </div>

    <div class="card">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/IPLTUlRFxgo/maxresdefault.jpg" alt="rocketseat">
      </div>

      <div class="card-content">
        <p>Nenhuma PR passará sem padrões</p>
      </div>

      <div class="card-info">
        <p>57min</p>
        <p class="card-price">Free</p>
      </div>
    </div>

    <div class="card">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/IPLTUlRFxgo/maxresdefault.jpg" alt="rocketseat">
      </div>

      <div class="card-content">
        <p>Nenhuma PR passará sem padrões</p>
      </div>

      <div class="card-info">
        <p>57min</p>
        <p class="card-price">Free</p>
      </div>
    </div>

    <div class="card">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/IPLTUlRFxgo/maxresdefault.jpg" alt="rocketseat">
      </div>

      <div class="card-content">
        <p>Nenhuma PR passará sem padrões</p>
      </div>

      <div class="card-info">
        <p>57min</p>
        <p class="card-price">Free</p>
      </div>
    </div>

    <div class="card">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/IPLTUlRFxgo/maxresdefault.jpg" alt="rocketseat">
      </div>

      <div class="card-content">
        <p>Nenhuma PR passará sem padrões</p>
      </div>

      <div class="card-info">
        <p>57min</p>
        <p class="card-price">Free</p>
      </div>
    </div>

    <div class="card">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/IPLTUlRFxgo/maxresdefault.jpg" alt="rocketseat">
      </div>

      <div class="card-content">
        <p>Nenhuma PR passará sem padrões</p>
      </div>

      <div class="card-info">
        <p>57min</p>
        <p class="card-price">Free</p>
      </div>
    </div>

  </section>

{% endblock %}