{% extends "layout.njk" %}

{% block head %}
  <title>Portifólio - Arlan Biati</title>
{% endblock %}

{% block content %}

  <main>
    <div class="wraper">
      <h1>Aulas</h1>
    </div>
  </main>

  <section class="cards">

    {% for item in items %}

    <div class="card" id="{{item.id}}">
      <div class="cards-image-container">
        <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
      </div>

      <div class="card-content">
        <p>{{item.title}}</p>
      </div>

      <div class="card-info">
        <p>{{item.duration}}</p>
        <p class="card-price">{{item.price}}</p>
      </div>
    </div>

    {% endfor %}

  </section>

{% endblock %}