* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

header {
  padding: 30px;
  background-color: grey;
}

div.nav {
  margin: 30px;
}